{% extends 'base.html' %}

{% block js %}
<script src="/media/js/admin/RelatedObjectLookups.js"></script>
{% endblock %}

{% block css %}
<style type="text/css">
	<!--
	table {
		margin-left: 10px;
		margin-top: 10px;
		border: 1px solid #000000;
		width: 500px;
	}
	-->
</style>
{% endblock %}

{% block content %}
<table>
	<tr><td><a href="{% url death_notice_index %}">Home</a></td></tr>
	<tr><td>Hello {{ user.funeralhomeprofile.full_name }}</td></tr>
</table>

{% if form.is_multipart %}
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
{% else %}
<form action="" method="post">{% csrf_token %}
{% endif %}
<table>
	{{ form }}
</table>
<table>
	{{ formset }}
</table>
<table>
	{{ bei_formset }}
</table>
<table>
	<tr>
		<td><input type="submit" name="submit" value="Submit" /></td>
	</tr>
</table>
</form>
<script type="text/javascript"> 
  $(function(){
    $("#id_date_of_birth").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd'
        });
  });

  $(function(){
    $("#id_marriage_date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd'
        });
  });


  // http://trentrichardson.com/examples/timepicker/
  $(function(){
    $("#id_service-0-service_date_time").datetimepicker({
      stepMinute: 5,
      hourMin: 6,
      hourMax: 23
    });
  });

  document.getElementById('id_death_notice').focus()
</script>

{% endblock content %}
