{% extends 'base.html' %}

{% block js %}
<script src="/media/js/admin/RelatedObjectLookups.js"></script>
{% endblock %}

{% block css %}
<style type="text/css">
	<!--
	table {
		margin-left: 10px;
		margin-top: 10px;
		border: 1px solid #000000;
		width: 500px;
	}
	-->
</style>
{% endblock %}

{% block content %}
<table>
	<tr><td><a href="{% url death_notice_index %}">Home</a></td></tr>
	<tr><td>Hello {{ user.funeralhomeprofile.full_name }}</td></tr>
</table>

{% if form.is_multipart %}
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
{% else %}
<form action="" method="post">{% csrf_token %}
{% endif %}
<table>
	{{ form }}
</table>
<table>
	<tr>
		<td>{{ formset_name }}</td>
	</tr>
	{{ formset }}
</table>
<table>
	<tr>
		<td>{{ bei_formset_name }}</td>
	</tr>
	{{ bei_formset }}
</table>
<table>
	<tr>
		<td>{{ os_formset_name }}</td>
	</tr>
	{{ os_formset }}
</table>
<table>
	<tr>
		<td>{{ child_formset_name }}</td>
	</tr>
	{{ child_formset }}
</table>
<table>
	<tr>
		<td>{{ sib_formset_name }}</td>
	</tr>
	{{ sib_formset }}
</table>
<table>
	<tr>
		<td>
			<input type="submit" name="delete" value="Delete" /> 
			<input type="submit" name="submit_add" value="Save and add another" /> 
			<input type="submit" name="submit_continue" value="Save and continue editing" /> 
			<input type="submit" name="submit" value="Save" />
		</td>
	</tr>
</table>
</form>
<script type="text/javascript"> 
  $(function(){
    $("#id_date_of_birth").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd',
        });
  });

  $(function(){
    $("#id_marriage_date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd',
        });
  });

  $(function(){
    $("#id_spouse_death").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd',
            constrainInput: false,
        });
  });

  // http://trentrichardson.com/examples/timepicker/
  $(function(){
    $("#id_other_services-0-other_services_date_time").datetimepicker({
      stepMinute: 5,
      hourMin: 6,
      hourMax: 23,
    });
  });

  document.getElementById('id_death_notice').focus()
</script>

{% endblock content %}
