*.pyc
*.DS_Store
ap_wfm
obituary/fixtures/*
obit_images/*
local_settings.py
__init__.py
manage.py
settings.py
urls.py
obituary/templates/manage_obituary.bak.html
obituary/obituary_settings.py
obituary/local_obituary_settings.py
