*.pyc
*.DS_Store
__init__.py
ap_wfm
emergency/
go_calendar/
local_settings.py
manage.py
obituary/.Python
obituary/bin/
obituary/include/
obituary/lib/
obituary/fixtures/*
obituary/local_obituary_settings.py
obituary/obituary_settings.py
obituary/templates/manage_obituary.bak.html
obit_images/*
pyodbc/
settings.py
test/
urls.py
weather/
