<html>
<head>
<title>Add {{ field }}</title>
<script src="/media/js/admin/RelatedObjectLookups.js"></script>
{{ form.media }}
{{ service_form.media }}
</head>
<body>
<h1>Add {{ field }}</h1>
<form method="POST" action="/add/{{ field }}/">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <table>
        {{ service_form }}
        </table>
        
<p><input type="submit" value="Save" /> | <a href="javascript:window.close()">Cancel</a></p>
</form>

<script type="text/javascript"> 
  $(function(){
    $("#id_death_date").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: 'c-110:c+0',
            dateFormat: 'yy-mm-dd'
        });
  });

  $(function(){
    $("#id_service-0-service_date_time").datetimepicker({
          stepMinute: 5,
          hourMin: 6,
          hourMax: 23,
        });
  });

  document.getElementById('id_first_name').focus()
</script>

</body>
</html>